:root {
  --orange-1: #ff8d02;
  --orange-2: #ce7100;
  --orange-3: #ff8d027a;
  --orange-4: #e87f00;
  --orange-5: #ffac02;
  --black-1: #000000;
  --black-2: #00000019;
  --black-3: #00000080;
  --black-4: #0000004c;
  --black-5: #00000038;
  --blue-1: #069;
  --blue-2: #004473;
  --blue-3: #4f8aab;
  --blue-4: #247aa8;
  --blue-5: #9cbbca;
  --blue-6: #a2bac94d;
  --blue-7: #cce0eb;
  --blue-8: #66a3c2;
  --blue-9: #cfdce6;
  --blue-10: #396596;
  --blue-11: #acc0d5;
  --blue-12: #006699b3;
  --white-1: #ffffff;
  --white-2: #f9fcff;
  --white-3: #f4f7f9;
  --white-4: #ffffff8a;
  --white-5: #fff0;
  --white-6: #b3d1e0;
  --white-7: #e3ecf2;
  --white-8: #bbd0de;
  --green-1: #2ecc71;
  --green-2: #1eb05c;
  --green-3: #29b765;
  --green-4: #25a25a;
  --gray-1: #bdbdbd;
  --gray-2: #333333;
  --gray-3: #f1f4f4;
  --gray-4: #bdbdbd;
  --gray-5: #e1e8ed;
  --gray-6: #fcfcfc;
  --gray-7: #f4f4f4;
  --gray-8: #cbd9e2;
  --gray-9: #bdc4c9;
  --gray-10: #999999;
  --gray-11: #efefef;
  --gray-12: #f8fafb;
  --gray-13: #4b4b4b;
  --gray-14: #d6d6d6;
  --gray-15: #eff5f8;
  --gray-16: #bcbebe;
  --gray-17: #a2bac94d;
  --gray-18: #c2d2dc4d;
  --gray-19: #e4ebf0;
  --gray-20: #d3dfe7;
  --gray-21: #ffffffbf;
  --gray-22: #757575;
  --gray-23: #e1e8ed12;
  --gray-24: #e3edef;
  --gray-25: #e3eaef;
  --gray-26: #efefef;
  --red-1: #e74c3c;

  --max-width-tablet: 48rem;
  --max-width-laptop: 60.5rem;
  --max-width-pc: 68.75rem;
  --width-dialog-s-tablet: 30.625rem;
  --width-dialog-s-laptop: 40rem;
  --width-dialog-m-tablet: 34.375rem;
  --width-dialog-m-laptop: 43.75rem;
}
