.input-radio {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.input-radio__option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-radio__option:hover {
  cursor: pointer;
}

.input-radio__option:not(:last-of-type):not(:only-of-type) {
  margin-right: 0.625rem;
}

.input-radio__label {
  padding-left: 0.25rem;
}

.input-radio__element {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0.0625rem;
  height: 0.0625rem;
  opacity: 0;
  outline: none;
}

.input-radio__element:disabled ~ .input-radio__box,
.input-radio__element:disabled ~ .input-radio__box ~ .input-radio__label {
  cursor: not-allowed;
}
