.input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  height: 2.5rem;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  outline: none;
  transition:
    border-color 150ms ease-in-out,
    color 150ms ease-in-out,
    padding-right 150ms ease-in-out;
}

.input--blue {
  color: var(--blue-3);
}

.input--gray {
  color: var(--gray-2);
}

.input--neutral {
  border-color: var(--gray-5);
}

.input--success {
  padding-right: 2.25rem;
  border-color: var(--gray-5);
}

.input--error {
  padding-right: 2.25rem;
  border-color: var(--red-1);
}

.input--error:disabled {
  border-color: var(--gray-5);
}

.input:disabled {
  background-color: var(--gray-7);
  cursor: not-allowed;
}

.input:focus {
  border-color: var(--orange-1);
}

.input::placeholder {
  color: var(--gray-22);
  font-weight: 400;
}
