.form-remuneration__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--gray-2);
}

.form-remuneration__text > [role="button"] {
  color: var(--blue-1);
}

.form-remuneration__expenses {
  margin: 1.25rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--blue-1);
}

.form-remuneration__checkbox {
  margin-bottom: 1.25rem;
}

.form-remuneration__button {
  margin: 1.75rem 0 0;
}

.form-remuneration__info {
  margin-top: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  color: var(--gray-1);
}

.form-remuneration__info > button {
  padding: 0.125rem;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.15;
  color: var(--blue-1);
}

.form-remuneration__logos {
  margin-top: 1.75rem;
}

@media screen and (min-width: 768px) {
  .form-remuneration__button {
    margin-left: auto;
    margin-right: auto;
    max-width: 18.75rem;
  }
}
