.form-checkout__navigation {
  margin-bottom: 1.5rem;
}

.form-checkout__info {
  margin-top: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  color: var(--gray-1);
}

.form-checkout__info > button {
  padding: 0.125rem;
  border-radius: 0.125rem;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.15;
  color: var(--blue-12);
}

.form-checkout__logos {
  margin-top: 1.75rem;
}

@media screen and (min-width: 1024px) {
  .form-checkout__navigation {
    display: none;
  }
}
