.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  height: 2.25rem;
}

.header__link {
  line-height: 1;
}

.header__phone {
  height: 1.125rem;
}

.header__number {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__link {
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--blue-2);
    text-decoration: none;
  }

  .header__number {
    margin-left: 0.75rem;
    display: inline;
  }
}
